<!--PRIMER PARALLAX-->
<div class="morpho">
<img src="http://tiny.cc/ougrkz" class="img-fluid" alt="Responsive image">
</div>

<!--IMAGEN FIJA-->
<div class="morpho">
<img src="https://www.audubon.org/sites/default/files/styles/hero_image/public/a1_5825_1_annas-hummingbird_kk_vinitha_fredenburgh.jpg?itok=6jxH0YU_" class="img-fluid" alt="Responsive image">
</div>


<!--CAROUSEL-->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="http://tiny.cc/6nnrkz" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="http://tiny.cc/opnrkz" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="http://tiny.cc/0rnrkz" class="d-block w-100" alt="...">
    </div>
       <div class="carousel-item">
      <img src="http://tiny.cc/0rnrkz" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<!--ACERCA DE-->
<div class="card text-center">
  <div class="card-header">
    ACERCA DE
  </div>
  <div class="card-body">
    <h5 class="card-title">Subtítulo</h5>
    <p class="card-text">Texto explicando.</p>
    <a href="#" class="btn btn-primary">Suscríbete</a>
  </div>
  <div class="card-footer text-muted">
   <br>
  </div>
</div>

<!--TIENDA-->
<!--PREGUNTAR COMO HACER SLIDE A LOS CARD DECK-->
<div class="container">
  <div class="card-deck my-5">
    <div class="card">
      <img src="http://tiny.cc/z5grkz" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Categoría 2</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Ver más #BOTON</small></p>
      </div>
    </div>
    <div class="card">
      <img src="http://tiny.cc/6ehrkz" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Categoría 2</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Ver más #BOTON</small></p>
      </div>
    </div>
    <div class="card">
      <img src="http://tiny.cc/cdhrkz" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Categoría 3</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Ver más #BOTON</small></p>
      </div>
    </div>
  </div>
</div>

<!--TERCER PARALLAX-->

<div class="morpho">
<img src="http://tiny.cc/bphrkz" class="img-fluid" alt="Responsive image">
</div>

<!--BLOG-->


