<div class="container m-5 p-5">
<br>
<br>
<br>
    <section class="gallery-block compact-gallery">
        <div class="container">
            <div class="heading">
                <h3 class="text-uppercase"><strong>Agenda tus clases</strong></h3>
                <hr>
                <p>Selecciona el nivel</p>
            </div>







<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'nivel1')">Nivel I</button>
  <button class="tablinks" onclick="openCity(event, 'nivel2')">Nivel II</button>
  <button class="tablinks" onclick="openCity(event, 'nivel3')">Nivel III</button>
</div>

<!-- Tab content -->
<div id="nivel1" class="tabcontent">
<br>
  <p>Aprenderás.</p>
</div>

<div id="nivel2" class="tabcontent">
 <br>
  <p>Con conocimientos básicos.</p>
</div>

<div id="nivel3" class="tabcontent">
  <br>
  <p>En este nivel.</p>
</div>





<br>
<br>
<br>


<!--ANTES Y DESPUES-->


  <div class="img-comp-container text-center">
    <div class="img-comp-img">
    <%= image_tag "Morpho.jpg", width:"1010", height:"400", alt: "morpho" %>
    
    </div>
    <div class="img-comp-img img-comp-overlay">
      <%= image_tag "all3.jpg", width:"1010", height:"400", alt: "morpho" %>
    </div>
  </div>
  <script>
  initComparisons();
  </script>
</div>


<br>
<br>
<br>
<br>
<!--CALENDARIO-->
<div class="jumbotron bg-transparent">
<div id='calendar'></div>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Clase particular</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Fotografía I,II,III</p>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>











  <br>
  <br>
</div>
</div>