/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar/dist/fullcalendar
 *= require bootstrap/dist/css/bootstrap
 */


html,
body {
    font-family: 'IBM Plex Sans'
}

p {
    font-weight: lighter;
}

h5 {
    font-weight: bold;
}

hr {
    border-top: 1px dotted rgb(155, 144, 144);
  }


.p1 {
    background-attachment: fixed;
  }

.barra {
    text-decoration:none; 
    
}

#navbar {
    text-decoration:none; 
    background-color: #131314;
}


h3{
    text-align: center;
    font-size: 1.4rem;
}


#body1 {
    background-color: #16181a;
}


#botonindex1 {
    color: white;
}


footer {
    flex-shrink: none;
    background-color: #131314;
    fill: white;
    color: white;
  }

