// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'IBM Plex Sans';
  }
  
  #calendar {
    max-width: 900px;
    margin: 40px auto;
  }