<div class="container m-5 p-5">
    <br>
    <br>
    <br>

    <h1>Modifica el producto</h1>
    <hr>
    <%= render 'form', product: @product %>

    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>

</div>
