<div class="container m-5 p-5">
<br>
<br>
<br>
    <section class="gallery-block compact-gallery">

            <h3>Modifica el producto</h3>
             <hr>
             <br>

    <%= render 'form', product: @product %>
    <br>
    <%= link_to 'Mostrar', @product %> |
    <%= link_to 'Atrás', products_path %>

</div>
