<div class="container m-5 p-5">
<br>
<br>


<h1>New Product</h1>

<%= render 'form', product: @product %>

<button type="button" class="btn btn-outline-dark">
<%= link_to 'Back', products_path %>
</button>
<br>
<br>
</div>
