<div class="container m-5 p-5">
    <br>
    <br>
    <br>
    <section class="gallery-block compact-gallery">
        <div class="container">
            <div class="heading">
                <h3>Nuevo producto</h3>
                <hr>



                <%= render 'form', product: @product %>

                <button type="button" class="btn btn-outline-dark">
                    <%= link_to 'Back', products_path %>
                </button>
                <br>
                <br>
            
            </div>
        </div>
</div>
