<div class="container m-5 p-5">
<br>
<br>
<br>
    <section class="gallery-block compact-gallery">

            <h3>Nuevo producto</h3>
             <hr>
             <br>

<%= render 'form', product: @product %>

<br>
<%= link_to 'Back', products_path, class:"btn btn-secondary" %>

<br>
<br>
        
</div>
